*.DS_Store
writeup_template.md
writeup_template_j.md
.ipynb_checkpoints
tunings_imgs/
outputs/
mini_test_samples/
data/
result/
.idea/
*/test_video2.mp4
*/test_video3.mp4
VehicleDetection-LinearSVM-Copy1.ipynb

__pycache__
